<!DOCTYPE html>
<html lang="en" ng-app="log">
<head>
    <meta charset="UTF-8">
    <title>LOGS</title>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>
<body ng-controller="logCtr" style="width: 1200px;padding: 25px 25px;">
    <div style="display: inline-block">project name:&nbsp;<input type="text" ng-model="project"></div>
    <div style="display: inline-block;margin-left: 10px;">log location:&nbsp;<input type="text" ng-model="filePath" placeholder="set it blank if you don't know the location"></div>
    <div style="display: inline-block;margin-left: 10px;">tail number:&nbsp;<input type="number" ng-model="len" ng-change=""></div>
    <button ng-click="initData()">change</button>
    <div>
        <table style="border: 1px solid #ececec">
            <tr>
                <th>time</th>
                <th>level</th>
                <th>app</th>
                <th>clientIP</th>
                <th>contentType</th>
                <th>level</th>
                <th>method</th>
                <th>msg</th>
                <th>parentSpanId</th>
                <th>path</th>
                <th>spanId</th>
                <th>traceId</th>
                <th>userAgent</th>
            </tr>
            <tr ng-repeat="logJson in logJsons">
                <td>{{logJson.time}}</td>
                <td>{{logJson.level}}</td>
                <td>{{logJson.app}}</td>
                <td>{{logJson.clientIP}}</td>
                <td>{{logJson.contentType}}</td>
                <td>{{logJson.level}}</td>
                <td>{{logJson.method}}</td>
                <td>{{logJson.msg}}</td>
                <td>{{logJson.parentSpanId}}</td>
                <td>{{logJson.path}}</td>
                <td>{{logJson.spanId}}</td>

                <td>{{logJson.traceId}}</td>
                <td>{{logJson.userAgent}}</td>
            </tr>
        </table>
    </div>
    <div style="line-height:30px;display: inline-block;width:1300px;word-wrap:break-word;padding: 10px;">
        <span>{{logs}}</span>
    </div>
</body>
</html>